CLOUDINARY_CLOUD_NAME=bv14vurk
CLOUDINARY_API_KEY=891768344346429
CLOUDINARY_API_SECRET=BO9HytXM8bZ6ikZryLK9ZF64GL8
GEMINI_API_KEY=AQ.Ab8RN6JRqAIl2Urvu-IbamVAKCoN3ZEZP55aDoryIp24MUBilw
CHATBOT_GEMINI_API_KEY=AQ.Ab8RN6JcBmRRgxmj2pfAKWQWWYqI0RzVbGscgWB_WEtshZ9C2A
IMAGE_ENHANCEMENT_GEMINI_API_KEY=AQ.Ab8RN6LD662Yjjq7YSGdVd7oT7uvWirTTzBJgtZ-Nn_s8qpABg
CATALOG_GEMINI_API_KEY=your_catalog_gemini_api_key
